body{
position:relative;
background: #EBF5FF;
margin:2%;
padding:2%;

}
a{
color:#7A1F00;
text-decoration:none;

}
a:hover{
color:white;
}
.login_body{

border: 1px solid black;
border-radius: 5px;
padding:.5% 2% .5% .5%;
width:25%;
background: #8AB8E6;



}
h1{
font-size:40px;
color:black;

}
h2{
color:black;
font-size:36px;
}
.login_form{


}

.home_body{
border: 1px solid black;
border-radius: 5px;
padding:1%;
width:50%;
background:white;

}

.file_holder{
border:1px solid black;
border-radius: 5px;
margin-top:10px;
padding:7px;
padding-bottom:0px;
background:#ADD6FF;
}

.button, .download_file,.delete_file, .logout_button {
border: 1px solid black;
border-radius:5px;
padding:7px;
margin:5px;
background:#D6EBFF;
}
.button:hover, .download_file:hover, .delete_file:hover, .logout_button:hover{
color:white;
background: #8AB8E6;
}
